
<div class="container mt-4">

  <div class="card shadow-lg p-4 border-0">

    <h3 class="text-center text-primary fw-bold mb-4">
       Search Products
    </h3>

   
    <div class="row justify-content-center mb-4">

      <div class="col-md-6">
        <input 
          type="text"
          class="form-control form-control-lg shadow-sm"
          [(ngModel)]="searchText"
          placeholder="Type product name...">
      </div>

      <div class="col-md-2 d-grid">
        <button class="btn btn-primary btn-lg shadow-sm" (click)="search()">
          Search
        </button>
      </div>

    </div>

    <div *ngIf="filteredProducts.length > 0">

      <table class="table table-hover table-striped text-center align-middle">

        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let p of filteredProducts">
            <td>{{p.pid}}</td>
            <td class="fw-semibold text-capitalize">{{p.pname}}</td>
            <td class="text-success fw-bold">₹{{p.price}}</td>
          </tr>
        </tbody>

      </table>

    </div>

  
    <div *ngIf="!searched" class="text-center text-muted mt-3">
       Enter a product name and click search
    </div>

    <div *ngIf="searched && filteredProducts.length === 0"
         class="alert alert-danger text-center mt-3">
       No products found
    </div>

  </div>

</div>